In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os.path
from os import path
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras import backend as K
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import OneHotEncoder

In [ ]:
def recall_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    recall = true_positives / (possible_positives + K.epsilon())
    return recall

def precision_m(y_true, y_pred):
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    return precision

def f1_m(y_true, y_pred):
    precision = precision_m(y_true, y_pred)
    recall = recall_m(y_true, y_pred)
    return 2*((precision*recall)/(precision+recall+K.epsilon()))

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data1_train = pd.read_csv("/content/drive/MyDrive/Data mưa/cv1_data_train_92022.csv")
data1_test = pd.read_csv("/content/drive/MyDrive/Data mưa/cv1_data_test_92022.csv")
data2_train = pd.read_csv("/content/drive/MyDrive/Data mưa/cv2_data_train_92022.csv")
data2_test = pd.read_csv('/content/drive/MyDrive/Data mưa/cv2_data_test_92022.csv')
data3_train = pd.read_csv('/content/drive/MyDrive/Data mưa/cv3_data_train_92022.csv')
data3_test = pd.read_csv('/content/drive/MyDrive/Data mưa/cv3_data_test_92022.csv')
data4_train = pd.read_csv('/content/drive/MyDrive/Data mưa/cv4_data_train_92022.csv')
data4_test = pd.read_csv('/content/drive/MyDrive/Data mưa/cv4_data_test_92022.csv')
data5_train = pd.read_csv('/content/drive/MyDrive/Data mưa/cv5_data_train_92022.csv')
data5_test = pd.read_csv('/content/drive/MyDrive/Data mưa/cv5_data_test_92022.csv')
data6_train = pd.read_csv('/content/drive/MyDrive/Data mưa/cv6_data_train_92022.csv')
data6_test = pd.read_csv('/content/drive/MyDrive/Data mưa/cv6_data_test_92022.csv')
data7_train = pd.read_csv('/content/drive/MyDrive/Data mưa/cv7_data_train_92022.csv')
data7_test = pd.read_csv('/content/drive/MyDrive/Data mưa/cv7_data_test_92022.csv')
data8_train = pd.read_csv('/content/drive/MyDrive/Data mưa/cv8_data_train_92022.csv')
data8_test = pd.read_csv('/content/drive/MyDrive/Data mưa/cv8_data_test_92022.csv')
data9_train = pd.read_csv('/content/drive/MyDrive/Data mưa/cv9_data_train_92022.csv')
data9_test = pd.read_csv('/content/drive/MyDrive/Data mưa/cv9_data_test_92022.csv')
data10_train = pd.read_csv('/content/drive/MyDrive/Data mưa/cv10_data_train_92022.csv')
data10_test = pd.read_csv('/content/drive/MyDrive/Data mưa/cv10_data_test_92022.csv')
data11_train = pd.read_csv('/content/drive/MyDrive/Data mưa/cv11_data_train_92022.csv')
data11_test = pd.read_csv('/content/drive/MyDrive/Data mưa/cv11_data_test_92022.csv')
data12_train = pd.read_csv('/content/drive/MyDrive/Data mưa/cv12_data_train_92022.csv')
data12_test = pd.read_csv('/content/drive/MyDrive/Data mưa/cv12_data_test_92022.csv')
data13_train = pd.read_csv('/content/drive/MyDrive/Data mưa/cv13_data_train_92022.csv')
data13_test = pd.read_csv('/content/drive/MyDrive/Data mưa/cv13_data_test_92022.csv')

In [ ]:
data_train = data12_train
data_test = data12_test

In [ ]:
# data_train = pd.concat([data1_train, data1_test, data3_train, data3_test, data4_train, data4_test, data5_train, data5_test,
#                        data6_train, data6_test, data7_train, data7_test, data8_train, data8_test, data9_train, data9_test,
#                        data10_train, data10_test, data11_train, data11_test, data12_train, data12_test, data13_train, data13_test])
# data_test = pd.concat([data2_train, data2_test])

In [ ]:
data_train = data_train[data_train['value'] != 0]
data_test = data_test[data_test['value'] != 0]

In [ ]:

data_test = data_test.drop(columns = ['x_id', 'y_id', 'DEM_value', 'cloud_value'])

data_train = data_train.drop(columns = ['x_id', 'y_id', 'DEM_value', 'cloud_value'])

In [ ]:
data_train['utc_time'] = pd.to_datetime(data_train['utc_time'])
data_train['hour'] = data_train['utc_time'].apply(lambda x: x.hour)
import datetime

def function(x):
    x = x.timetuple()
    jdate = x.tm_yday
    return(jdate)
data_train['date'] = data_train['utc_time'].apply(lambda x: function(x))

In [ ]:
data_test['utc_time'] = pd.to_datetime(data_test['utc_time'])
data_test['hour'] = data_test['utc_time'].apply(lambda x: x.hour)
import datetime

def function(x):
    x = x.timetuple()
    jdate = x.tm_yday
    return(jdate)
data_test['date'] = data_test['utc_time'].apply(lambda x: function(x))

In [ ]:
def split_day(x):
  string = '{0:05b}'.format(x)
  arr = [*string]
  arr = [int(a) for a in arr]
  return arr

In [ ]:
def split_month(x):
  string = '{0:04b}'.format(x)
  arr = [*string]
  arr = [int(a) for a in arr]
  return arr

In [ ]:
print('{0:04b}'.format(10))

1010

In [ ]:
def fill_columns(data_test):
  data_test['bit_day1'] = data_test['utc_time'].apply(lambda x: split_day(x.day)[0])
  data_test['bit_day2'] = data_test['utc_time'].apply(lambda x: split_day(x.day)[1])
  data_test['bit_day3'] = data_test['utc_time'].apply(lambda x: split_day(x.day)[2])
  data_test['bit_day4'] = data_test['utc_time'].apply(lambda x: split_day(x.day)[3])
  data_test['bit_day5'] = data_test['utc_time'].apply(lambda x: split_day(x.day)[4])
  data_test['bit_month1'] = data_test['utc_time'].apply(lambda x: split_day(x.month)[1])
  data_test['bit_month2'] = data_test['utc_time'].apply(lambda x: split_day(x.month)[2])
  data_test['bit_month3'] = data_test['utc_time'].apply(lambda x: split_day(x.month)[3])
  data_test['bit_month4'] = data_test['utc_time'].apply(lambda x: split_day(x.month)[4])

In [ ]:
fill_columns(data_test)
fill_columns(data_train)

In [ ]:
data_train

,Name,id,lon,lat,value,utc_time,irb_value,wvb_b09,b09_b10,b10_b16,...,date,bit_day1,bit_day2,bit_day3,bit_day4,bit_day5,bit_month1,bit_month2,bit_month3,bit_month4
2,226709,Bon Phặng,103.7740,21.388020,0.2,2020-10-19 09:00:00,275.27075,-8.14667,-8.96960,-11.14472,...,293,1,0,0,1,1,1,0,1,0
3,355243,Dap-TDThacBa,105.0230,21.747030,1.2,2020-11-16 08:00:00,226.62573,-3.65350,-1.18000,2.08033,...,321,1,0,0,0,0,1,0,1,1
6,827707,Lùng Phình,104.3256,22.592780,0.2,2020-10-18 20:00:00,240.63751,-5.89599,-2.80567,0.37415,...,292,1,0,0,1,0,1,0,1,0
7,134604,TanTru,106.5203,10.520560,0.2,2019-09-14 07:00:00,249.41003,-7.57355,-4.96355,-0.35480,...,257,0,1,1,1,0,1,0,0,1
8,634150,Đinh Trang Thượng,107.9703,11.726110,1.8,2020-08-06 12:00:00,287.28284,-10.59155,-9.52618,-13.02918,...,219,0,0,1,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455125,9053,EaSin,108.1370,13.069390,2.4,2019-08-06 10:00:00,256.57202,-9.00946,-5.48767,-2.88971,...,218,0,0,1,1,0,1,0,0,0
455127,169811,NT.DongHai,105.6942,9.191111,0.8,2020-09-17 04:00:00,276.25464,-9.72003,-7.40374,-10.08624,...,261,1,0,0,0,1,1,0,0,1
455131,ARG026 ...,NGOC LAC,105.4000,20.033330,2.6,2020-10-18 09:00:00,272.78003,-12.23797,-7.90425,-4.77000,...,292,1,0,0,1,0,1,0,1,0
455134,201575,NuiSap,105.2706,10.267190,5.8,2020-09-18 10:00:00,273.78003,-9.17822,-7.35956,-8.52698,...,262,1,0,0,1,0,1,0,0,1
455137,539167,Châu Khê,104.7822,19.108890,1.0,2020-10-17 16:00:00,260.20996,-8.43219,-5.58129,-1.79273,...,291,1,0,0,0,1,1,0,1,0

In [ ]:
data_train = data_train.drop(columns = 'utc_time')

In [ ]:
data_test = data_test.drop(columns = 'utc_time')

In [ ]:
data_train = data_train.sort_values(by = ['id', 'date', 'hour'])

In [ ]:
data_test = data_test.sort_values(by = ['id', 'date', 'hour'])

In [ ]:
data_train

,Name,id,lon,lat,value,irb_value,wvb_b09,b09_b10,b10_b16,b11_irb,...,date,bit_day1,bit_day2,bit_day3,bit_day4,bit_day5,bit_month1,bit_month2,bit_month3,bit_month4
195634,356642,A Bung,107.0261,16.36830,1.0,265.90723,-7.87616,-8.39807,-7.45459,-1.06446,...,202,1,0,1,0,0,0,1,1,1
244305,356642,A Bung,107.0261,16.36830,15.6,225.62500,-2.35748,0.47748,-0.45429,-0.29102,...,203,1,0,1,0,1,0,1,1,1
345595,356642,A Bung,107.0261,16.36830,1.0,260.20996,-9.43219,-5.39379,-2.23621,-2.01392,...,214,0,0,0,0,1,1,0,0,0
148202,356642,A Bung,107.0261,16.36830,0.2,259.61365,-8.69440,-4.58129,-2.42072,-2.06165,...,214,0,0,0,0,1,1,0,0,0
270064,356642,A Bung,107.0261,16.36830,0.6,264.24000,-8.93762,-5.24445,-3.90924,-2.31996,...,214,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384482,299387,Đức Vân - Bắc Kạn,106.0331,22.44722,0.2,291.11400,-8.43219,-8.75628,-16.15290,-3.34800,...,263,1,0,0,1,1,1,0,0,1
62037,299387,Đức Vân - Bắc Kạn,106.0331,22.44722,0.2,259.61365,-5.37335,-3.78521,-5.07142,-1.41761,...,263,1,0,0,1,1,1,0,0,1
295513,299387,Đức Vân - Bắc Kạn,106.0331,22.44722,0.2,252.74902,-6.38220,-3.31433,-0.24457,-1.34900,...,263,1,0,0,1,1,1,0,0,1
299573,299387,Đức Vân - Bắc Kạn,106.0331,22.44722,0.2,254.68500,-6.28107,-2.16149,-1.33851,-2.56500,...,263,1,0,0,1,1,1,0,0,1
100091,299387,Đức Vân - Bắc Kạn,106.0331,22.44722,0.6,257.80505,-7.28107,-2.90429,-2.18970,-2.22503,...,263,1,0,0,1,1,1,0,0,1

In [ ]:
data_test

,Name,id,lon,lat,value,irb_value,wvb_b09,b09_b10,b10_b16,b11_irb,...,date,bit_day1,bit_day2,bit_day3,bit_day4,bit_day5,bit_month1,bit_month2,bit_month3,bit_month4
42104,356642,A Bung,107.0261,16.36830,21.2,265.90723,-5.59662,-3.90429,-5.34974,-2.21363,...,302,1,1,1,0,0,1,0,1,0
6659,356642,A Bung,107.0261,16.36830,23.8,254.68500,-4.92994,-0.33715,-1.17176,-2.56500,...,302,1,1,1,0,0,1,0,1,0
56566,356642,A Bung,107.0261,16.36830,20.0,259.61365,-4.92994,-1.26434,-2.88971,-2.06165,...,302,1,1,1,0,0,1,0,1,0
52297,356642,A Bung,107.0261,16.36830,19.8,282.84497,-6.53210,-6.61286,-12.09729,-2.35071,...,302,1,1,1,0,0,1,0,1,0
54297,356642,A Bung,107.0261,16.36830,30.0,282.84497,-6.88428,-6.80194,-13.40741,-2.35071,...,302,1,1,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53624,630250,Đức Thông,106.2797,22.47917,0.2,274.28003,-12.06714,-8.81288,-4.77000,-1.90003,...,303,1,1,1,0,1,1,0,1,0
49130,630250,Đức Thông,106.2797,22.47917,0.2,260.79540,-8.93762,-4.43945,-1.60822,-1.33140,...,304,1,1,1,1,0,1,0,1,0
31377,630250,Đức Thông,106.2797,22.47917,0.2,260.20996,-9.16999,-5.58129,-1.79273,-0.74596,...,304,1,1,1,1,0,1,0,1,0
21958,630250,Đức Thông,106.2797,22.47917,0.2,260.79540,-9.43219,-5.39379,-1.60822,-1.33140,...,304,1,1,1,1,0,1,0,1,0
55207,630250,Đức Thông,106.2797,22.47917,0.2,263.68000,-9.24500,-7.87127,-4.50776,-1.16730,...,305,1,1,1,1,1,1,0,1,0

In [ ]:
data_train = data_train.reset_index(drop = True)

In [ ]:
data_test = data_test.reset_index(drop = True)

In [ ]:
data_train['strong'] = data_train['value'].apply(lambda x: 1 if x >= 2 else 0)

In [ ]:
data_test['strong'] = data_test['value'].apply(lambda x: 1 if x >= 2 else 0)

In [ ]:
data_train['strong'].value_counts()

0    117802
1     64256
Name: strong, dtype: int64

In [ ]:
data_train.shape

(182058, 23)

In [ ]:
data_test.shape

(31120, 23)

In [ ]:
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# data_train[['irb_value']] = scaler.fit_transform(data_train[['irb_value']])
# data_train[['b10_b16']] = scaler.fit_transform(data_train[['b10_b16']])
# data_train[['b11_irb']] = scaler.fit_transform(data_train[['b11_irb']])
# data_train[['irb_i2b']] = scaler.fit_transform(data_train[['irb_i2b']])
# data_train[['wvb_b09']] = scaler.fit_transform(data_train[['wvb_b09']])
# data_train[['b09_b10']] = scaler.fit_transform(data_train[['b09_b10']])
# data_train[['lon']] = scaler.fit_transform(data_train[['lon']])
# data_train[['lat']] = scaler.fit_transform(data_train[['lat']])
# data_train[['hour']] = scaler.fit_transform(data_train[['hour']])
# data_train[['date']] = scaler.fit_transform(data_train[['date']])

In [ ]:
# data_test[['irb_value']] = scaler.fit_transform(data_test[['irb_value']])
# data_test[['b10_b16']] = scaler.fit_transform(data_test[['b10_b16']])
# data_test[['b11_irb']] = scaler.fit_transform(data_test[['b11_irb']])
# data_test[['irb_i2b']] = scaler.fit_transform(data_test[['irb_i2b']])
# data_test[['wvb_b09']] = scaler.fit_transform(data_test[['wvb_b09']])
# data_test[['b09_b10']] = scaler.fit_transform(data_test[['b09_b10']])
# data_test[['lon']] = scaler.fit_transform(data_test[['lon']])
# data_test[['lat']] = scaler.fit_transform(data_test[['lat']])
# data_test[['hour']] = scaler.fit_transform(data_test[['hour']])
# data_test[['date']] = scaler.fit_transform(data_test[['date']])

In [ ]:

input_train = []
output_train = []
no_of_sample = len(data_train)
WINDOW_SIZE = 3 # 3 gio
for i in range(no_of_sample - WINDOW_SIZE + 1):
  next_idx = i + WINDOW_SIZE - 1
  if(data_train['hour'][next_idx] == (data_train['hour'][i] + WINDOW_SIZE - 1) % 24 and data_train['hour'][next_idx - 1] == (data_train['hour'][i] + WINDOW_SIZE - 2) and data_train['lat'][next_idx] == data_train['lat'][i] ):
    X = data_train.loc[i:i + WINDOW_SIZE - 1]
    X = X.drop(columns = ['hour', 'lat', 'value','lon', 'date', 'Name', 'id','strong'])
    X.to_numpy()
    input_train.append(X)
    output_train.append(data_train['strong'][i+WINDOW_SIZE - 1])

In [ ]:
input_test = []
output_test = []
no_of_sample = len(data_test)
WINDOW_SIZE = 3 # 3 gio
for i in range(no_of_sample - WINDOW_SIZE + 1):
  next_idx = i + WINDOW_SIZE - 1
  if(data_test['hour'][next_idx] == (data_test['hour'][i] + WINDOW_SIZE - 1) % 24 and data_test['hour'][next_idx - 1] == (data_test['hour'][i] + WINDOW_SIZE - 2) and data_test['lat'][next_idx] == data_test['lat'][i] ):
    X = data_test.loc[i:i + WINDOW_SIZE - 1]
    X = X.drop(columns = ['hour', 'lat', 'value','lon', 'date', 'Name', 'id','strong'])
    X.to_numpy()
    input_test.append(X)
    output_test.append(data_test['strong'][i+WINDOW_SIZE - 1])

In [ ]:
X_train = np.array(input_train)

In [ ]:
y_train = np.array(output_train)

In [ ]:
X_test = np.array(input_test)

In [ ]:
y_test = np.array(output_test)

In [ ]:
X_train.shape

(65144, 3, 15)

In [ ]:
X_test.shape

(15277, 3, 15)

In [ ]:
#model
regressor = Sequential()
regressor.add(LSTM(units = 32, input_shape = (X_train.shape[1], X_train.shape[2])))
regressor.add(Dense(units = 1, activation = 'sigmoid'))
regressor.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics=['acc', f1_m])

In [ ]:
regressor.fit(X_train, y_train, epochs = 64, batch_size= 256 )

Epoch 1/64
255/255 [==============================] - 4s 6ms/step - loss: 0.6775 - acc: 0.5848 - f1_m: 0.0239
Epoch 2/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6744 - acc: 0.5889 - f1_m: 0.0097
Epoch 3/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6730 - acc: 0.5890 - f1_m: 0.0108
Epoch 4/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6720 - acc: 0.5891 - f1_m: 0.0125
Epoch 5/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6709 - acc: 0.5890 - f1_m: 0.0104
Epoch 6/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6695 - acc: 0.5886 - f1_m: 0.0080
Epoch 7/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6685 - acc: 0.5890 - f1_m: 0.0200
Epoch 8/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6674 - acc: 0.5893 - f1_m: 0.0169
Epoch 9/64
255/255 [==============================] - 1s 5ms/step - loss: 0.6673 - acc: 0.5892 - f1_m: 0.0154
Epoch 10/64
255/255 [==============================] - 1s 5ms/step - loss: 0.6663 - acc: 0.5885 - f1_m: 0.0334
Epoch 11/64
255/255 [==============================] - 1s 4ms/step - loss: 0.6659 - acc: 0.5866 - f1_m: 0.0423
Epoch 12/64
255/255 [==============================] - 1s 4ms/step - loss: 0.6656 - acc: 0.5860 - f1_m: 0.0548
Epoch 13/64
255/255 [==============================] - 1s 4ms/step - loss: 0.6646 - acc: 0.5860 - f1_m: 0.0877
Epoch 14/64
255/255 [==============================] - 1s 4ms/step - loss: 0.6641 - acc: 0.5850 - f1_m: 0.1138
Epoch 15/64
255/255 [==============================] - 1s 4ms/step - loss: 0.6641 - acc: 0.5862 - f1_m: 0.1272
Epoch 16/64
255/255 [==============================] - 1s 6ms/step - loss: 0.6627 - acc: 0.5849 - f1_m: 0.1450
Epoch 17/64
255/255 [==============================] - 2s 7ms/step - loss: 0.6627 - acc: 0.5865 - f1_m: 0.1621
Epoch 18/64
255/255 [==============================] - 2s 7ms/step - loss: 0.6618 - acc: 0.5865 - f1_m: 0.1836
Epoch 19/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6612 - acc: 0.5865 - f1_m: 0.1987
Epoch 20/64
255/255 [==============================] - 2s 7ms/step - loss: 0.6608 - acc: 0.5881 - f1_m: 0.2120
Epoch 21/64
255/255 [==============================] - 2s 7ms/step - loss: 0.6607 - acc: 0.5899 - f1_m: 0.2144
Epoch 22/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6597 - acc: 0.5922 - f1_m: 0.2291
Epoch 23/64
255/255 [==============================] - 2s 7ms/step - loss: 0.6590 - acc: 0.5916 - f1_m: 0.2481
Epoch 24/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6586 - acc: 0.5944 - f1_m: 0.2572
Epoch 25/64
255/255 [==============================] - 2s 7ms/step - loss: 0.6586 - acc: 0.5962 - f1_m: 0.2655
Epoch 26/64
255/255 [==============================] - 2s 7ms/step - loss: 0.6576 - acc: 0.5977 - f1_m: 0.2801
Epoch 27/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6573 - acc: 0.5978 - f1_m: 0.2818
Epoch 28/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6567 - acc: 0.6005 - f1_m: 0.3089
Epoch 29/64
255/255 [==============================] - 2s 7ms/step - loss: 0.6560 - acc: 0.6019 - f1_m: 0.3001
Epoch 30/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6562 - acc: 0.6032 - f1_m: 0.3144
Epoch 31/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6557 - acc: 0.6045 - f1_m: 0.3206
Epoch 32/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6557 - acc: 0.6083 - f1_m: 0.3329
Epoch 33/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6546 - acc: 0.6071 - f1_m: 0.3359
Epoch 34/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6552 - acc: 0.6072 - f1_m: 0.3364
Epoch 35/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6540 - acc: 0.6100 - f1_m: 0.3487
Epoch 36/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6543 - acc: 0.6098 - f1_m: 0.3496
Epoch 37/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6540 - acc: 0.6109 - f1_m: 0.3523
Epoch 38/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6540 - acc: 0.6098 - f1_m: 0.3466
Epoch 39/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6527 - acc: 0.6137 - f1_m: 0.3560
Epoch 40/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6521 - acc: 0.6152 - f1_m: 0.3706
Epoch 41/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6523 - acc: 0.6161 - f1_m: 0.3734
Epoch 42/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6531 - acc: 0.6139 - f1_m: 0.3660
Epoch 43/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6520 - acc: 0.6162 - f1_m: 0.3707
Epoch 44/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6515 - acc: 0.6178 - f1_m: 0.3858
Epoch 45/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6510 - acc: 0.6180 - f1_m: 0.3789
Epoch 46/64
255/255 [==============================] - 1s 6ms/step - loss: 0.6504 - acc: 0.6199 - f1_m: 0.3937
Epoch 47/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6506 - acc: 0.6194 - f1_m: 0.3873
Epoch 48/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6513 - acc: 0.6158 - f1_m: 0.3817
Epoch 49/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6501 - acc: 0.6187 - f1_m: 0.3890
Epoch 50/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6498 - acc: 0.6221 - f1_m: 0.3992
Epoch 51/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6499 - acc: 0.6210 - f1_m: 0.3987
Epoch 52/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6494 - acc: 0.6217 - f1_m: 0.3973
Epoch 53/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6487 - acc: 0.6233 - f1_m: 0.4046
Epoch 54/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6494 - acc: 0.6211 - f1_m: 0.4008
Epoch 55/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6487 - acc: 0.6224 - f1_m: 0.4053
Epoch 56/64
255/255 [==============================] - 2s 6ms/step - loss: 0.6486 - acc: 0.6229 - f1_m: 0.4066
Epoch 57/64
255/255 [==============================] - 1s 5ms/step - loss: 0.6488 - acc: 0.6221 - f1_m: 0.4048
Epoch 58/64
255/255 [==============================] - 1s 5ms/step - loss: 0.6475 - acc: 0.6255 - f1_m: 0.4135
Epoch 59/64
255/255 [==============================] - 1s 4ms/step - loss: 0.6485 - acc: 0.6220 - f1_m: 0.4039
Epoch 60/64
255/255 [==============================] - 1s 4ms/step - loss: 0.6483 - acc: 0.6222 - f1_m: 0.4060
Epoch 61/64
255/255 [==============================] - 1s 4ms/step - loss: 0.6483 - acc: 0.6210 - f1_m: 0.4052
Epoch 62/64
255/255 [==============================] - 1s 5ms/step - loss: 0.6480 - acc: 0.6220 - f1_m: 0.4081
Epoch 63/64
255/255 [==============================] - 1s 4ms/step - loss: 0.6472 - acc: 0.6253 - f1_m: 0.4144
Epoch 64/64
255/255 [==============================] - 1s 6ms/step - loss: 0.6473 - acc: 0.6234 - f1_m: 0.4122

In [ ]:
y_predict = regressor.predict(X_test).flatten()

In [ ]:
y_predict.shape

(15277,)

In [ ]:
y_predict[0:10]

array([0.3006286 , 0.34935752, 0.4000706 , 0.37436065, 0.32115915,
       0.30330363, 0.30906343, 0.37170616, 0.36391458, 0.4091829 ],
      dtype=float32)

In [ ]:
y_train_predict = regressor.predict(X_train).flatten()

In [ ]:
train_predict = [0 if i < 0.5 else 1 for i in y_train_predict]

In [ ]:
test_predict = [0 if i < 0.5 else 1 for i in y_predict]

In [ ]:
unique, counts = np.unique(np.array(test_predict), return_counts=True)

np.asarray((unique, counts)).T

array([[    0, 15149],
       [    1,   128]])

In [ ]:
unique1, counts1 = np.unique(np.array(y_test), return_counts=True)

np.asarray((unique1, counts1)).T

array([[   0, 8890],
       [   1, 6387]])

In [ ]:
train_tn, train_fp, train_fn, train_tp = confusion_matrix(y_train, train_predict).ravel()

prec_weak = train_tn / (train_tn + train_fn)
prec_strong = train_tp / (train_tp + train_fp)

recall_no_rain = train_tn / (train_tn + train_fp)
recall_rain = train_tp / (train_tp + train_fn)

print('precision no rain {:.2f}'.format(prec_weak))
print('precision rain: {:.2f}'.format(prec_strong))

print('recall no rain: {:.2f}'.format(recall_no_rain))
print('recall rain: {:.2f}'.format(recall_rain))

print('f1 no rain: {:.2f}'.format(2 * (prec_weak * recall_no_rain) / (prec_weak + recall_no_rain)))
print('f1 rain: {:.2f}'.format(2 * (prec_strong * recall_rain) / (prec_strong + recall_rain)))

print('accuracy: {:.2f}'.format(accuracy_score(y_train, train_predict)))

precision no rain 0.62
precision rain: 0.61
recall no rain: 0.90
recall rain: 0.22
f1 no rain: 0.74
f1 rain: 0.33
accuracy: 0.62

In [ ]:
test_tn, test_fp, test_fn, test_tp = confusion_matrix(y_test, test_predict).ravel()

prec_weak = test_tn / (test_tn + test_fn)
prec_strong = test_tp / (test_tp + test_fp)

recall_no_rain = test_tn / (test_tn + test_fp)
recall_rain = test_tp / (test_tp + test_fn)

print('precision no rain {:.2f}'.format(prec_weak))
print('precision rain: {:.2f}'.format(prec_strong))

print('recall no rain: {:.2f}'.format(recall_no_rain))
print('recall rain: {:.2f}'.format(recall_rain))

print('f1 no rain: {:.2f}'.format(2 * (prec_weak * recall_no_rain) / (prec_weak + recall_no_rain)))
print('f1 rain: {:.2f}'.format(2 * (prec_strong * recall_rain) / (prec_strong + recall_rain)))

print('accuracy: {:.2f}'.format(accuracy_score(y_test, test_predict)))

precision no rain 0.58
precision rain: 0.20
recall no rain: 0.99
recall rain: 0.00
f1 no rain: 0.73
f1 rain: 0.01
accuracy: 0.58